.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 40px;
  color: #007bff;
  cursor: pointer;
  z-index: 1000;
  transition: ease-in-out 0.3s, color 0.3s ease;
}
.gototop:hover {
  color: #0056b3;
  margin-bottom: -0.2rem;
}
.gototop.show {
  opacity: 1;
  transform: translateY(0);
}

.VetImageOnTeam {
  height: 400px;
}

.vetTeamName {
  font-size: 24px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
}
